:root {
  --grayscale-surface-subtle: #f3f2f4;
  --grayscale-surface-default: #847d85;
  --grayscale-surface-disabled: #c6c3c7;
  --grayscale-border-default: #9d979d;
  --grayscale-border-disabled: #ada8ad;
  --grayscale-border-dark: #494549;
  --grayscale-text-title: #373538;
  --grayscale-text-body: #494549;
  --grayscale-text-subtitle: #787279;
  --grayscale-text-caption: #847d85;
  --grayscale-text-negative: #f3f2f3;
  --grayscale-text-disabled: #c6c3c7;

  --primary-surface-subtle: #f2e8f2;
  --primary-surface-light: #d5b9d7;
  --primary-surface-default: #781d7d;
  --primary-surface-dark: #551559;
  --primary-border-subtle: #d5b9d7;
  --primary-border-default: #781d7d;
  --primary-border-dark: #421045;
  --primary-border-light: #c197c3;
  --primary-text-icon: #781d7d;

  --secondary-surface-subtle: #fef1eb;
  --secondary-surface-light: #fbd5c1;
  --secondary-surface-default: #f37737;
  --secondary-surface-dark: #ad5427;
  --secondary-border-subtle: #fbd5c1;
  --secondary-border-default: #f37737;
  --secondary-border-dark: #86411e;
  --secondary-border-light: #f9c0a3;
  --secondary-text-icon: #f37737;

  --accent-primary-surface-light: #e6f8fc;
  --accent-primary-surface-subtle: #b0eaf7;
  --accent-primary-surface-default: #00bbe4;
  --accent-primary-surface-dark: #0085a2;
  --accent-primary-border-subtle: #b0eaf7;
  --accent-primary-border-default: #00bbe4;
  --accent-primary-border-dark: #00677d;
  --accent-primary-border-light: #8ae0f3;
  --accent-primary-text-icon: #00bbe4;

  --accent-secondary-surface-subtle: #f4f9ec;
  --accent-secondary-surface-light: #dcedc3;
  --accent-secondary-surface-default: #8ec63f;
  --accent-secondary-surface-dark: #658d2d;
  --accent-secondary-border-subtle: #dcedc3;
  --accent-secondary-border-default: #8ec63f;
  --accent-secondary-border-dark: #4e6d23;
  --accent-secondary-border-light: #cbe5a7;
  --accent-secondary-text-icon: #8ec63f;

  --accent-tertiary-surface-subtle: #feecf4;
  --accent-tertiary-surface-light: #fac4dd;
  --accent-tertiary-surface-default: #f04292;
  --accent-tertiary-surface-dark: #aa2f68;
  --accent-tertiary-border-subtle: #fac4dd;
  --accent-tertiary-border-default: #f04292;
  --accent-tertiary-border-dark: #842450;
  --accent-tertiary-border-light: #f8a8cd;
  --accent-tertiary-text-icon: #f04292;

  --error-surface-subtle: #fceaed;
  --error-surface-light: #f5bdc6;
  --error-surface-default: #e02947;
  --error-surface-dark: #9f1d32;
  --error-border-subtle: #f5bdc6;
  --error-border-default: #e02947;
  --error-border-dark: #7b1727;
  --error-border-light: #f19daa;
  --error-text-icon: #e02947;

  --warning-orange-surface-subtle: #fef5e6;
  --warning-orange-surface-light: #fce0b0;
  --warning-orange-surface-default: #f59b00;
  --warning-orange-surface-dark: #ae6e00;
  --warning-orange-border-subtle: #fce0b0;
  --warning-orange-border-default: #f59b00;
  --warning-orange-border-dark: #875500;
  --warning-orange-border-light: #fad18a;
  --warning-orange-text-icon: #f59b00;

  --warning-yellow-surface-subtle: #fffbe6;
  --warning-yellow-surface-light: #fff4b0;
  --warning-yellow-surface-default: #ffda00;
  --warning-yellow-surface-dark: #b59b00;
  --warning-yellow-border-subtle: #fff4b0;
  --warning-yellow-border-default: #ffda00;
  --warning-yellow-border-dark: #8c7800;
  --warning-yellow-border-light: #ffee8a;
  --warning-yellow-text-icon: #ffda00;

  --success-surface-subtle: #e6f8f7;
  --success-surface-light: #b2eae5;
  --success-surface-default: #07bbac;
  --success-surface-dark: #05857a;
  --success-border-subtle: #b2eae5;
  --success-border-default: #07bbac;
  --success-border-dark: #04675f;
  --success-border-light: #8de0d9;
  --success-text-icon: #07bbac;
}
