html {
  background-color: var(--body-background-color);
  font-size: 62.5%;
}
body,
p,
span,
pre,
code,
div,
fieldset,
legend,
li,
a {
  color: var(--brand-grayscale-text-body);
  font-family: var(--font-family);
  font-size: var(--step-1);
}
