@import './_palette_light.css';
@import './_palette_dark.css';

:root {
  --body-background-color: var(--light-body-background-color);
  --focus-visible-colour: var(--light-focus-visible-colour);

  --brand-grayscale-surface-subtle: var(--light-grayscale-surface-subtle);
  --brand-grayscale-surface-default: var(--light-grayscale-surface-default);
  --brand-grayscale-surface-disabled: var(--light-grayscale-surface-disabled);
  --brand-grayscale-border-default: var(--light-grayscale-border-default);
  --brand-grayscale-border-disabled: var(--light-grayscale-border-disabled);
  --brand-grayscale-border-dark: var(--light-grayscale-border-dark);
  --brand-grayscale-text-title: var(--light-grayscale-text-title);
  --brand-grayscale-text-body: var(--light-grayscale-text-body);
  --brand-grayscale-text-form: var(--light-grayscale-text-form);
  --brand-grayscale-text-subtitle: var(--light-grayscale-text-subtitle);
  --brand-grayscale-text-caption: var(--light-grayscale-text-caption);
  --brand-grayscale-text-negative: var(--light-grayscale-text-negative);
  --brand-grayscale-text-disabled: var(--light-grayscale-text-disabled);

  --brand-primary-surface-subtle: var(--light-primary-surface-subtle);
  --brand-primary-surface-light: var(--light-primary-surface-light);
  --brand-primary-surface-default: var(--light-primary-surface-default);
  --brand-primary-surface-dark: var(--light-primary-surface-dark);
  --brand-primary-border-subtle: var(--light-primary-border-subtle);
  --brand-primary-border-default: var(--light-primary-border-default);
  --brand-primary-border-dark: var(--light-primary-border-dark);
  --brand-primary-border-light: var(--light-primary-border-light);
  --brand-primary-text-icon: var(--light-primary-text-text);

  --brand-secondary-surface-subtle: var(--light-secondary-surface-subtle);
  --brand-secondary-surface-light: var(--light-secondary-surface-light);
  --brand-secondary-surface-default: var(--light-secondary-surface-default);
  --brand-secondary-surface-dark: var(--light-secondary-surface-dark);
  --brand-secondary-border-subtle: var(--light-secondary-border-subtle);
  --brand-secondary-border-default: var(--light-secondary-border-default);
  --brand-secondary-border-dark: var(--light-secondary-border-dark);
  --brand-secondary-border-light: var(--light-secondary-border-light);
  --brand-secondary-text-icon: var(--light-secondary-text-text);

  --brand-accent-primary-surface-light: var(--light-accent-primary-surface-light);
  --brand-accent-primary-surface-subtle: var(--light-accent-primary-surface-subtle);
  --brand-accent-primary-surface-default: var(--light-accent-primary-surface-default);
  --brand-accent-primary-surface-dark: var(--light-accent-primary-surface-dark);
  --brand-accent-primary-border-subtle: var(--light-accent-primary-border-subtle);
  --brand-accent-primary-border-default: var(--light-accent-primary-border-default);
  --brand-accent-primary-border-dark: var(--light-accent-primary-border-dark);
  --brand-accent-primary-border-light: var(--light-accent-primary-border-light);
  --brand-accent-primary-text-icon: var(--light-accent-primary-text-text);

  --brand-accent-secondary-surface-subtle: var(--light-accent-secondary-surface-subtle);
  --brand-accent-secondary-surface-light: var(--light-accent-secondary-surface-light);
  --brand-accent-secondary-surface-default: var(--light-accent-secondary-surface-default);
  --brand-accent-secondary-surface-dark: var(--light-accent-secondary-surface-dark);
  --brand-accent-secondary-border-subtle: var(--light-accent-secondary-border-subtle);
  --brand-accent-secondary-border-default: var(--light-accent-secondary-border-default);
  --brand-accent-secondary-border-dark: var(--light-accent-secondary-border-dark);
  --brand-accent-secondary-border-light: var(--light-accent-secondary-border-light);
  --brand-accent-secondary-text-icon: var(--light-accent-secondary-text-text);

  --brand-accent-tertiary-surface-subtle: var(--light-accent-tertiary-surface-subtle);
  --brand-accent-tertiary-surface-light: var(--light-accent-tertiary-surface-light);
  --brand-accent-tertiary-surface-default: var(--light-accent-tertiary-surface-default);
  --brand-accent-tertiary-surface-dark: var(--light-accent-tertiary-surface-dark);
  --brand-accent-tertiary-border-subtle: var(--light-accent-tertiary-border-subtle);
  --brand-accent-tertiary-border-default: var(--light-accent-tertiary-border-default);
  --brand-accent-tertiary-border-dark: var(--light-accent-tertiary-border-dark);
  --brand-accent-tertiary-border-light: var(--light-accent-tertiary-border-light);
  --brand-accent-tertiary-text-icon: var(--light-accent-tertiary-text-text);

  --brand-error-surface-subtle: var(--light-error-surface-subtle);
  --brand-error-surface-light: var(--light-error-surface-light);
  --brand-error-surface-default: var(--light-error-surface-default);
  --brand-error-surface-dark: var(--light-error-surface-dark);
  --brand-error-border-subtle: var(--light-error-border-subtle);
  --brand-error-border-default: var(--light-error-border-default);
  --brand-error-border-dark: var(--light-error-border-dark);
  --brand-error-border-light: var(--light-error-border-light);
  --brand-error-text-icon: var(--light-error-text-text);

  --brand-warning-orange-surface-subtle: var(--light-warning-orange-surface-subtle);
  --brand-warning-orange-surface-light: var(--light-warning-orange-surface-light);
  --brand-warning-orange-surface-default: var(--light-warning-orange-surface-default);
  --brand-warning-orange-surface-dark: var(--light-warning-orange-surface-dark);
  --brand-warning-orange-border-subtle: var(--light-warning-orange-border-subtle);
  --brand-warning-orange-border-default: var(--light-warning-orange-border-default);
  --brand-warning-orange-border-dark: var(--light-warning-orange-border-dark);
  --brand-warning-orange-border-light: var(--light-warning-orange-border-light);
  --brand-warning-orange-text-icon: var(--light-warning-orange-text-text);

  --brand-warning-yellow-surface-subtle: var(--light-warning-yellow-surface-subtle);
  --brand-warning-yellow-surface-light: var(--light-warning-yellow-surface-light);
  --brand-warning-yellow-surface-default: var(--light-warning-yellow-surface-default);
  --brand-warning-yellow-surface-dark: var(--light-warning-yellow-surface-dark);
  --brand-warning-yellow-border-subtle: var(--light-warning-yellow-border-subtle);
  --brand-warning-yellow-border-default: var(--light-warning-yellow-border-default);
  --brand-warning-yellow-border-dark: var(--light-warning-yellow-border-dark);
  --brand-warning-yellow-border-light: var(--light-warning-yellow-border-light);
  --brand-warning-yellow-text-icon: var(--light-warning-yellow-text-text);

  --brand-success-surface-subtle: var(--light-success-surface-subtle);
  --brand-success-surface-light: var(--light-success-surface-light);
  --brand-success-surface-default: var(--light-success-surface-default);
  --brand-success-surface-dark: var(--light-success-surface-dark);
  --brand-success-border-subtle: var(--light-success-border-subtle);
  --brand-success-border-default: var(--light-success-border-default);
  --brand-success-border-dark: var(--light-success-border-dark);
  --brand-success-border-light: var(--light-success-border-light);
  --brand-success-text-icon: var(--light-success-text-text);

  /* Colour Zones - Brand 2 */

  --brand-zone-orange-light: var(--light-zone-orange-light);
  --brand-zone-orange-solid: var(--light-zone-orange-solid);
  --brand-zone-orange-dark: var(--light-zone-orange-dark);

  --brand-zone-yellow-light: var(--light-zone-yellow-light);
  --brand-zone-yellow-solid: var(--light-zone-yellow-solid);
  --brand-zone-yellow-dark: var(--light-zone-yellow-dark);

  --brand-zone-pink-light: var(--light-zone-pink-light);
  --brand-zone-pink-solid: var(--light-zone-pink-solid);
  --brand-zone-pink-dark: var(--light-zone-pink-dark);

  --brand-zone-blue-light: var(--light-zone-blue-light);
  --brand-zone-blue-solid: var(--light-zone-blue-solid);
  --brand-zone-blue-dark: var(--light-zone-blue-dark);

  --brand-zone-red-light: var(--light-zone-red-light);
  --brand-zone-red-solid: var(--light-zone-red-solid);
  --brand-zone-red-dark: var(--light-zone-red-dark);

  --brand-zone-green-light: var(--light-zone-green-light);
  --brand-zone-green-solid: var(--light-zone-green-solid);
  --brand-zone-green-dark: var(--light-zone-green-dark);

  /* TODO); add Brand 1 colours (these are brand 2 colours) */

  --brand-zone-purple-primary-light: var(--light-zone-purple-primary-light);
  --brand-zone-purple-primary-solid: var(--light-zone-purple-primary-solid);
  --brand-zone-purple-primary-dark: var(--light-zone-purple-primary-dark);

  --brand-zone-purple-secondary-light: var(--light-zone-purple-secondary-light);
  --brand-zone-purple-secondary-solid: var(--light-zone-purple-secondary-solid);
  --brand-zone-purple-secondary-dark: var(--light-zone-purple-secondary-dark);

  --brand-zone-grey-light: var(--light-zone-grey-light);
  --brand-zone-grey-solid: var(--light-zone-grey-solid);
  --brand-zone-grey-dark: var(--light-zone-grey-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: var(--dark-body-background-color);
    --focus-visible-colour: var(--dark-focus-visible-colour);

    --brand-grayscale-surface-subtle: var(--dark-grayscale-surface-subtle);
    --brand-grayscale-surface-default: var(--dark-grayscale-surface-default);
    --brand-grayscale-surface-disabled: var(--dark-grayscale-surface-disabled);
    --brand-grayscale-border-default: var(--dark-grayscale-border-default);
    --brand-grayscale-border-disabled: var(--dark-grayscale-border-disabled);
    --brand-grayscale-border-dark: var(--dark-grayscale-border-dark);
    --brand-grayscale-text-title: var(--dark-grayscale-text-title);
    --brand-grayscale-text-body: var(--dark-grayscale-text-negative);
    --brand-grayscale-text-form: var(--dark-grayscale-text-form);
    --brand-grayscale-text-subtitle: var(--dark-grayscale-text-subtitle);
    --brand-grayscale-text-caption: var(--dark-grayscale-text-caption);
    --brand-grayscale-text-negative: var(--dark-grayscale-text-negative);
    --brand-grayscale-text-disabled: var(--dark-grayscale-text-disabled);

    --brand-primary-surface-subtle: var(--dark-primary-surface-subtle);
    --brand-primary-surface-light: var(--dark-primary-surface-light);
    --brand-primary-surface-default: var(--dark-primary-surface-default);
    --brand-primary-surface-dark: var(--dark-primary-surface-dark);
    --brand-primary-border-subtle: var(--dark-primary-border-subtle);
    --brand-primary-border-default: var(--dark-primary-border-default);
    --brand-primary-border-dark: var(--dark-primary-border-dark);
    --brand-primary-border-light: var(--dark-primary-border-light);
    --brand-primary-text-icon: var(--dark-primary-text-text);

    --brand-secondary-surface-subtle: var(--dark-secondary-surface-subtle);
    --brand-secondary-surface-light: var(--dark-secondary-surface-light);
    --brand-secondary-surface-default: var(--dark-secondary-surface-default);
    --brand-secondary-surface-dark: var(--dark-secondary-surface-dark);
    --brand-secondary-border-subtle: var(--dark-secondary-border-subtle);
    --brand-secondary-border-default: var(--dark-secondary-border-default);
    --brand-secondary-border-dark: var(--dark-secondary-border-dark);
    --brand-secondary-border-light: var(--dark-secondary-border-light);
    --brand-secondary-text-icon: var(--dark-secondary-text-text);

    --brand-accent-primary-surface-light: var(--dark-accent-primary-surface-light);
    --brand-accent-primary-surface-subtle: var(--dark-accent-primary-surface-subtle);
    --brand-accent-primary-surface-default: var(--dark-accent-primary-surface-default);
    --brand-accent-primary-surface-dark: var(--dark-accent-primary-surface-dark);
    --brand-accent-primary-border-subtle: var(--dark-accent-primary-border-subtle);
    --brand-accent-primary-border-default: var(--dark-accent-primary-border-default);
    --brand-accent-primary-border-dark: var(--dark-accent-primary-border-dark);
    --brand-accent-primary-border-light: var(--dark-accent-primary-border-light);
    --brand-accent-primary-text-icon: var(--dark-accent-primary-text-text);

    --brand-accent-secondary-surface-subtle: var(--dark-accent-secondary-surface-subtle);
    --brand-accent-secondary-surface-light: var(--dark-accent-secondary-surface-light);
    --brand-accent-secondary-surface-default: var(--dark-accent-secondary-surface-default);
    --brand-accent-secondary-surface-dark: var(--dark-accent-secondary-surface-dark);
    --brand-accent-secondary-border-subtle: var(--dark-accent-secondary-border-subtle);
    --brand-accent-secondary-border-default: var(--dark-accent-secondary-border-default);
    --brand-accent-secondary-border-dark: var(--dark-accent-secondary-border-dark);
    --brand-accent-secondary-border-light: var(--dark-accent-secondary-border-light);
    --brand-accent-secondary-text-icon: var(--dark-accent-secondary-text-text);

    --brand-accent-tertiary-surface-subtle: var(--dark-accent-tertiary-surface-subtle);
    --brand-accent-tertiary-surface-light: var(--dark-accent-tertiary-surface-light);
    --brand-accent-tertiary-surface-default: var(--dark-accent-tertiary-surface-default);
    --brand-accent-tertiary-surface-dark: var(--dark-accent-tertiary-surface-dark);
    --brand-accent-tertiary-border-subtle: var(--dark-accent-tertiary-border-subtle);
    --brand-accent-tertiary-border-default: var(--dark-accent-tertiary-border-default);
    --brand-accent-tertiary-border-dark: var(--dark-accent-tertiary-border-dark);
    --brand-accent-tertiary-border-light: var(--dark-accent-tertiary-border-light);
    --brand-accent-tertiary-text-icon: var(--dark-accent-tertiary-text-text);

    --brand-error-surface-subtle: var(--dark-error-surface-subtle);
    --brand-error-surface-light: var(--dark-error-surface-light);
    --brand-error-surface-default: var(--dark-error-surface-default);
    --brand-error-surface-dark: var(--dark-error-surface-dark);
    --brand-error-border-subtle: var(--dark-error-border-subtle);
    --brand-error-border-default: var(--dark-error-border-default);
    --brand-error-border-dark: var(--dark-error-border-dark);
    --brand-error-border-light: var(--dark-error-border-light);
    --brand-error-text-icon: var(--dark-error-text-text);

    --brand-warning-orange-surface-subtle: var(--dark-warning-orange-surface-subtle);
    --brand-warning-orange-surface-light: var(--dark-warning-orange-surface-light);
    --brand-warning-orange-surface-default: var(--dark-warning-orange-surface-default);
    --brand-warning-orange-surface-dark: var(--dark-warning-orange-surface-dark);
    --brand-warning-orange-border-subtle: var(--dark-warning-orange-border-subtle);
    --brand-warning-orange-border-default: var(--dark-warning-orange-border-default);
    --brand-warning-orange-border-dark: var(--dark-warning-orange-border-dark);
    --brand-warning-orange-border-light: var(--dark-warning-orange-border-light);
    --brand-warning-orange-text-icon: var(--dark-warning-orange-text-text);

    --brand-warning-yellow-surface-subtle: var(--dark-warning-yellow-surface-subtle);
    --brand-warning-yellow-surface-light: var(--dark-warning-yellow-surface-light);
    --brand-warning-yellow-surface-default: var(--dark-warning-yellow-surface-default);
    --brand-warning-yellow-surface-dark: var(--dark-warning-yellow-surface-dark);
    --brand-warning-yellow-border-subtle: var(--dark-warning-yellow-border-subtle);
    --brand-warning-yellow-border-default: var(--dark-warning-yellow-border-default);
    --brand-warning-yellow-border-dark: var(--dark-warning-yellow-border-dark);
    --brand-warning-yellow-border-light: var(--dark-warning-yellow-border-light);
    --brand-warning-yellow-text-icon: var(--dark-warning-yellow-text-text);

    --brand-success-surface-subtle: var(--dark-success-surface-subtle);
    --brand-success-surface-light: var(--dark-success-surface-light);
    --brand-success-surface-default: var(--dark-success-surface-default);
    --brand-success-surface-dark: var(--dark-success-surface-dark);
    --brand-success-border-subtle: var(--dark-success-border-subtle);
    --brand-success-border-default: var(--dark-success-border-default);
    --brand-success-border-dark: var(--dark-success-border-dark);
    --brand-success-border-light: var(--dark-success-border-light);
    --brand-success-text-icon: var(--dark-success-text-text);

    /* Colour Zones - Brand 2 */

    --brand-zone-orange-light: var(--dark-zone-orange-light);
    --brand-zone-orange-solid: var(--dark-zone-orange-solid);
    --brand-zone-orange-dark: var(--dark-zone-orange-dark);

    --brand-zone-yellow-light: var(--dark-zone-yellow-light);
    --brand-zone-yellow-solid: var(--dark-zone-yellow-solid);
    --brand-zone-yellow-dark: var(--dark-zone-yellow-dark);

    --brand-zone-pink-light: var(--dark-zone-pink-light);
    --brand-zone-pink-solid: var(--dark-zone-pink-solid);
    --brand-zone-pink-dark: var(--dark-zone-pink-dark);

    --brand-zone-blue-light: var(--dark-zone-blue-light);
    --brand-zone-blue-solid: var(--dark-zone-blue-solid);
    --brand-zone-blue-dark: var(--dark-zone-blue-dark);

    --brand-zone-red-light: var(--dark-zone-red-light);
    --brand-zone-red-solid: var(--dark-zone-red-solid);
    --brand-zone-red-dark: var(--dark-zone-red-dark);

    --brand-zone-green-light: var(--dark-zone-green-light);
    --brand-zone-green-solid: var(--dark-zone-green-solid);
    --brand-zone-green-dark: var(--dark-zone-green-dark);

    /* TODO); add Brand 1 colours (these are brand 2 colours) */

    --brand-zone-purple-primary-light: var(--dark-zone-purple-primary-light);
    --brand-zone-purple-primary-solid: var(--dark-zone-purple-primary-solid);
    --brand-zone-purple-primary-dark: var(--dark-zone-purple-primary-dark);

    --brand-zone-purple-secondary-light: var(--dark-zone-purple-secondary-light);
    --brand-zone-purple-secondary-solid: var(--dark-zone-purple-secondary-solid);
    --brand-zone-purple-secondary-dark: var(--dark-zone-purple-secondary-dark);

    --brand-zone-grey-light: var(--dark-zone-grey-light);
    --brand-zone-grey-solid: var(--dark-zone-grey-solid);
    --brand-zone-grey-dark: var(--dark-zone-grey-dark);
  }
}
