:root {
  --dark-body-background-color: #494549;
  --dark-grayscale-surface-subtle: #f3f2f4;
  --dark-grayscale-surface-default: #847d85;
  --dark-grayscale-surface-disabled: #c6c3c7;
  --dark-grayscale-border-default: #9d979d;
  --dark-grayscale-border-disabled: #ada8ad;
  --dark-grayscale-border-dark: #494549;
  --dark-grayscale-text-title: #373538;
  --dark-grayscale-text-body: #494549;
  --dark-grayscale-text-form: #48464d;
  --dark-grayscale-text-subtitle: #787279;
  --dark-grayscale-text-caption: #847d85;
  --dark-grayscale-text-negative: #f3f2f3;
  --dark-grayscale-text-disabled: #c6c3c7;

  --dark-focus-visible-colour: #4169e1;

  --dark-primary-surface-subtle: #f2e8f2;
  --dark-primary-surface-light: #d5b9d7;
  --dark-primary-surface-default: #781d7d;
  --dark-primary-surface-dark: #551559;
  --dark-primary-border-subtle: #d5b9d7;
  --dark-primary-border-default: #781d7d;
  --dark-primary-border-dark: #421045;
  --dark-primary-border-light: #c197c3;
  --dark-primary-text-icon: #781d7d;

  --dark-secondary-surface-subtle: #fef1eb;
  --dark-secondary-surface-light: #fbd5c1;
  --dark-secondary-surface-default: #f37737;
  --dark-secondary-surface-dark: #ad5427;
  --dark-secondary-border-subtle: #fbd5c1;
  --dark-secondary-border-default: #f37737;
  --dark-secondary-border-dark: #86411e;
  --dark-secondary-border-light: #f9c0a3;
  --dark-secondary-text-icon: #f37737;

  --dark-accent-primary-surface-light: #e6f8fc;
  --dark-accent-primary-surface-subtle: #b0eaf7;
  --dark-accent-primary-surface-default: #00bbe4;
  --dark-accent-primary-surface-dark: #0085a2;
  --dark-accent-primary-border-subtle: #b0eaf7;
  --dark-accent-primary-border-default: #00bbe4;
  --dark-accent-primary-border-dark: #00677d;
  --dark-accent-primary-border-light: #8ae0f3;
  --dark-accent-primary-text-icon: #00bbe4;

  --dark-accent-secondary-surface-subtle: #f4f9ec;
  --dark-accent-secondary-surface-light: #dcedc3;
  --dark-accent-secondary-surface-default: #8ec63f;
  --dark-accent-secondary-surface-dark: #658d2d;
  --dark-accent-secondary-border-subtle: #dcedc3;
  --dark-accent-secondary-border-default: #8ec63f;
  --dark-accent-secondary-border-dark: #4e6d23;
  --dark-accent-secondary-border-light: #cbe5a7;
  --dark-accent-secondary-text-icon: #8ec63f;

  --dark-accent-tertiary-surface-subtle: #feecf4;
  --dark-accent-tertiary-surface-light: #fac4dd;
  --dark-accent-tertiary-surface-default: #f04292;
  --dark-accent-tertiary-surface-dark: #aa2f68;
  --dark-accent-tertiary-border-subtle: #fac4dd;
  --dark-accent-tertiary-border-default: #f04292;
  --dark-accent-tertiary-border-dark: #842450;
  --dark-accent-tertiary-border-light: #f8a8cd;
  --dark-accent-tertiary-text-icon: #f04292;

  --dark-error-surface-subtle: #fceaed;
  --dark-error-surface-light: #f5bdc6;
  --dark-error-surface-default: #e02947;
  --dark-error-surface-dark: #9f1d32;
  --dark-error-border-subtle: #f5bdc6;
  --dark-error-border-default: #e02947;
  --dark-error-border-dark: #7b1727;
  --dark-error-border-light: #f19daa;
  --dark-error-text-icon: #e02947;

  --dark-warning-orange-surface-subtle: #fef5e6;
  --dark-warning-orange-surface-light: #fce0b0;
  --dark-warning-orange-surface-default: #f59b00;
  --dark-warning-orange-surface-dark: #ae6e00;
  --dark-warning-orange-border-subtle: #fce0b0;
  --dark-warning-orange-border-default: #f59b00;
  --dark-warning-orange-border-dark: #875500;
  --dark-warning-orange-border-light: #fad18a;
  --dark-warning-orange-text-icon: #f59b00;

  --dark-warning-yellow-surface-subtle: #fffbe6;
  --dark-warning-yellow-surface-light: #fff4b0;
  --dark-warning-yellow-surface-default: #ffda00;
  --dark-warning-yellow-surface-dark: #b59b00;
  --dark-warning-yellow-border-subtle: #fff4b0;
  --dark-warning-yellow-border-default: #ffda00;
  --dark-warning-yellow-border-dark: #8c7800;
  --dark-warning-yellow-border-light: #ffee8a;
  --dark-warning-yellow-text-icon: #ffda00;

  --dark-success-surface-subtle: #e6f8f7;
  --dark-success-surface-light: #b2eae5;
  --dark-success-surface-default: #07bbac;
  --dark-success-surface-dark: #05857a;
  --dark-success-border-subtle: #b2eae5;
  --dark-success-border-default: #07bbac;
  --dark-success-border-dark: #04675f;
  --dark-success-border-light: #8de0d9;
  --dark-success-text-icon: #07bbac;

  /* Colour Zones - Brand 1 */

  --dark-zone-orange-light: #fbd5c1;
  --dark-zone-orange-solid: #f37737;
  --dark-zone-orange-dark: #ad5427;

  --dark-zone-yellow-light: #fce0b0;
  --dark-zone-yellow-solid: #f59b00;
  --dark-zone-yellow-dark: #ae6e00;

  --dark-zone-pink-light: #fac4dd;
  --dark-zone-pink-solid: #f04292;
  --dark-zone-pink-dark: #aa2f68;

  --dark-zone-blue-light: #b0eaf7;
  --dark-zone-blue-solid: #00bbe4;
  --dark-zone-blue-dark: #0085a2;

  --dark-zone-red-light: #f5bdc6;
  --dark-zone-red-solid: #e02947;
  --dark-zone-red-dark: #9f1d32;

  --dark-zone-green-light: #dcedc3;
  --dark-zone-green-solid: #8ec63f;
  --dark-zone-green-dark: #658d2d;

  /* TODO: add Brand 1 colours (these are brand 2 colours) */

  --dark-zone-purple-primary-light: #d3c0ed;
  --dark-zone-purple-primary-solid: #7033c4;
  --dark-zone-purple-primary-dark: #50248b;

  --dark-zone-purple-secondary-light: #efd9fd;
  --dark-zone-purple-secondary-solid: #ca85fa;
  --dark-zone-purple-secondary-dark: #8f5eb2;

  --dark-zone-grey-light: #c9c9c9;
  --dark-zone-grey-solid: #a9a9a9;
  --dark-zone-grey-dark: #858585;
}
