:root {
    --colour-primary: #ff0000;
    --colour-secondary: #00ff00;
    --colour-tertiary: #0000ff;
    --colour-quaternary: #ffff00;
    --colour-quinary: #ff00ff;
    --colour-senary: #00ffff;
    --colour-septenary: #000000;
    --colour-octonary: #ffffff;
}