:root {
  --theme-form-font-familty: var(--font-family);
  --theme-error-surface: var(--red-12);
  --theme-error-text: var(--red-0);
  --theme-form-button-font-size-normal: var(--form-element-font-size);
  --theme-form-transition-duration: 0.2s;
}
