:root {
  [data-form-theme='error'] {
    --theme-form-input-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-input-border: var(--red-8);
    --theme-form-input-border-active: var(--red-2);
    --theme-form-input-border-focus: var(--red-2);
    --theme-form-input-outline: white;
    --theme-form-input-outline-active: var(--red-6);
    --theme-form-input-outline-focus: var(--red-6);
    --theme-form-input-text: light-dark(var(--gray-10), var(--gray-11));

    --theme-form-focus-box-shadow: 1px 1px 8px 1px light-dark(var(--red-12), var(--red-2));

    --theme-form-checkbox-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-checkbox-border: light-dark(var(--red-12), var(--red-12));
    --theme-form-checkbox-outline: light-dark(var(--red-1), var(--red-1));
    --theme-form-checkbox-shadow: transparent;
    --theme-form-checkbox-shadow-focus: var(--red-6);
    --theme-form-checkbox-symbol: var(--red-12);

    --theme-form-radio-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-radio-border: light-dark(var(--red-12), var(--red-12));
    --theme-form-radio-outline: light-dark(var(--red-1), var(--red-1));
    --theme-form-radio-shadow: transparent;
    --theme-form-radio-shadow-focus: var(--red-6);
    --theme-form-radio-symbol: var(--red-12);

    --theme-form-range-accent-color: light-dark(var(--red-12), var(--red-3));

    /*
    * ToggleSwitch
    **/
    --theme-form-toggle-bg-off: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-toggle-bg-on: light-dark(var(--gray-1), var(--gray-6));
    --theme-form-toggle-border: 1px solid light-dark(var(--red-12), var(--red-1));
    --theme-form-toggle-outline: 1px solid light-dark(var(--red-12), var(--red-12));
    --theme-form-toggle-symbol-off: var(--orange-12);
    --theme-form-toggle-symbol-on: var(--gray-12);
    --theme-form-toggle-icon-stroke-colour-off: var(--gray-1);
    --theme-form-toggle-icon-stroke-colour-on: var(--gray-1);

    /*
    * Checkbox as button
    **/

    --theme-checkbox-radio-button-bg-default: light-dark(var(--red-1), var(--red-1));

    --theme-checkbox-radio-button-border-default: light-dark(var(--red-12), var(--red-12));
    --theme-checkbox-radio-button-border-width: 1px;

    --theme-checkbox-radio-button-outline-default: light-dark(var(--red-5), var(--red-5));
    --theme-checkbox-radio-button-outline-width: 1px;

    --theme-checkbox-radio-button-label-default: light-dark(var(--red-12), var(--red-12));
  }

  [data-btn-theme='error'] {
    --theme-btn-bg: var(--red-12);
    --theme-btn-border: var(--red-0);
    --theme-btn-outline: var(--red-12);
    --theme-btn-text: var(--red-0);

    --theme-btn-bg-hover: var(--red-0);
    --theme-btn-border-hover: var(--red-12);
    --theme-btn-outline-hover: var(--red-0);
    --theme-btn-text-hover: var(--red-12);

    --theme-btn-bg-focus: var(--red-0);
    --theme-btn-border-focus: var(--red-12);
    --theme-btn-outline-focus: var(--red-0);
    --theme-btn-text-focus: var(--red-12);

    --theme-form-focus-box-shadow: 1px 1px 8px 1px light-dark(var(--red-12), var(--red-2));
  }
}
