:where(html) {
  --theme-form-ghost: var(--gray-8);
  --theme-form-ghost-border: transparent;
  --theme-form-ghost-border-hover: var(--gray-2);
  --theme-form-ghost-outline: transparent;
  --theme-form-ghost-outline-hover: var(--gray-11);
  --theme-form-ghost-bg: transparent;
  --theme-form-ghost-bg-hover: var(--gray-2);
  --theme-form-ghost-color: var(--gray-11);
  --theme-form-ghost-color-hover: var(--gray-11);
}
