:root {
  --theme-form-primary: var(--blue-8);
  --theme-form-primary-border: var(--blue-2);
  --theme-form-primary-border-hover: var(--blue-0);
  --theme-form-primary-outline: var(--blue-11);
  --theme-form-primary-outline-hover: var(--blue-11);
  --theme-form-primary-bg: var(--blue-6);
  --theme-form-primary-bg-hover: var(--blue-2);
  --theme-form-primary-color: var(--blue-1);
  --theme-form-primary-color-hover: var(--blue-11);
  --theme-form-primary-focus: var(--blue-6);
  --theme-form-primary-radio-fill: var(--gray-00);

  .primary {
    --theme-form-input-bg: white;
    --theme-form-input-border: var(--blue-8);
    --theme-form-input-border-active: var(--blue-2);
    --theme-form-input-border-focus: var(--blue-2);
    --theme-form-input-outline: var(--blue-6);
    --theme-form-input-outline-active: var(--blue-8);
    --theme-form-input-outline-focus: var(--blue-8);
    --theme-form-checkbox-bg: var(--blue-6);
    --theme-form-checkbox-bg-active: var(--blue-6);
    --theme-form-checkbox-bg-focus: var(--blue-6);
    --theme-form-checkbox-shadow: transparent;
    --theme-form-checkbox-shadow-focus: var(--blue-6);
    --theme-form-checkbox-symbol: var(--blue-8);
  }
}
