:where(html) {
  --theme-form-primary: var(--blue-8);
  --theme-form-primary-border: var(--blue-8);
  --theme-form-primary-border-hover: var(--blue-2);
  --theme-form-primary-bg: var(--blue-6);
  --theme-form-primary-bg-hover: var(--blue-2);
  --theme-form-primary-color: var(--blue-1);
  --theme-form-primary-color-hover: var(--blue-11);
}
