:root {
  [data-form-theme='success'] {
    --theme-form-input-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-input-border: var(--green-8);
    --theme-form-input-border-active: var(--green-2);
    --theme-form-input-border-focus: var(--green-2);
    --theme-form-input-outline: white;
    --theme-form-input-outline-active: var(--green-6);
    --theme-form-input-outline-focus: var(--green-6);
    --theme-form-input-text: light-dark(var(--gray-10), var(--gray-11));
    --theme-form-focus-box-shadow: 1px 1px 8px 1px var(--green-12);

    --theme-form-checkbox-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-checkbox-shadow: transparent;
    --theme-form-checkbox-shadow-focus: var(--green-6);
    --theme-form-checkbox-symbol: var(--green-8);

    --theme-form-radio-bg: light-dark(var(--gray-1), var(--gray-4));
    --theme-form-radio-shadow: transparent;
    --theme-form-radio-shadow-focus: var(--green-6);
    --theme-form-radio-symbol: var(--green-8);
  }

  [data-btn-theme='success'] {
    --theme-btn-bg: var(--green-12);
    --theme-btn-border: var(--green-0);
    --theme-btn-outline: var(--green-12);
    --theme-btn-text: var(--green-0);

    --theme-btn-bg-hover: var(--green-0);
    --theme-btn-border-hover: var(--green-12);
    --theme-btn-outline-hover: var(--green-0);
    --theme-btn-text-hover: var(--green-12);

    --theme-btn-bg-focus: var(--green-0);
    --theme-btn-border-focus: var(--green-12);
    --theme-btn-outline-focus: var(--green-0);
    --theme-btn-text-focus: var(--green-12);

    --theme-form-focus-box-shadow: 1px 1px 8px 1px var(--green-12);
  }
}
