:root {
  color-scheme: light dark;
}

html {
  /* background-color: var(--body-background-color); */
  background-color: var(--page-bg);

  font-size: 62.5%;
}
body,
p,
pre,
code,
div,
fieldset,
legend,
li,
a {
  color: var(--grayscale-text-body);
  font-family: var(--font-family);
  font-size: var(--step-1);
}
