html {
  color-scheme: light dark;

  &[data-color-scheme='light'] {
    color-scheme: light;
  }

  &[data-color-scheme='dark'] {
    color-scheme: dark;
  }

  background-color: var(--page-bg);

  font-size: 62.5%;

  transition: background-color 0.4s ease, color 0.4s ease;
  scrollbar-gutter: stable;
}
body,
p,
pre,
code,
div,
fieldset,
legend,
li,
a {
  color: light-dark(var(--gray-12), var(--gray-3));
  font-family: var(--font-family);
  font-size: var(--step-1);
}

body {
  &.page-theme-grey {
    background-color: lightseagreen;
  }
}

form {
  input {
    font: inherit;
    /* accent-color: var(--accent-color, red); */
  }

  label {
    text-box-trim: both;
    text-box-edge: cap alphabetic;
  }
}
