/*
* These styles control the appearance of radio buttons.
*/
:root {
  .input-checkbox-radio-wrapper {
    &.radio {
      --input-checkbox-radio-wrapper-background-color: hsl(from var(--theme-form-input-border) h s 95%);
      --input-checkbox-radio-wrapper-border: 0.1rem solid var(--theme-form-input-border);
      --input-checkbox-radio-wrapper-border-radius: 100%;
      --input-checkbox-radio-wrapper-outline: 0.1rem solid hsl(from var(--theme-form-input-border) h s 95%);

      --input-checkbox-radio-wrapper-box-shadow-off: none;

      /* Interactive state */
      --input-checkbox-radio-wrapper-border-on: 0.1rem solid var(--theme-form-input-border);
      --input-checkbox-radio-wrapper-outline-on: 0.1rem solid hsl(from var(--theme-form-input-border) h s 1%);
      --input-checkbox-radio-wrapper-box-shadow-on: 0.1rem 0.1rem 0.1rem 0.1rem hsl(from var(--theme-form-input-border) h s 95%);

      /* Size variants for radio buttons within a button */
      &.x-small {
        --form-input-checkbox-radio-button-symbol-size: var(--step-0);
      }

      &.small {
        --form-input-checkbox-radio-button-symbol-size: var(--step-1);
      }

      &.default {
        --form-input-checkbox-radio-button-symbol-size: var(--step-4);
      }

      &.medium {
        --form-input-checkbox-radio-button-symbol-size: var(--step-3);
      }

      &.large {
        --form-input-checkbox-radio-button-symbol-size: var(--step-3);
      }

      /* Size variants for default radio buttons */
      .button {
        &.x-small {
          --form-input-checkbox-radio-button-symbol-size: var(--step-0);
        }

        &.small {
          --form-input-checkbox-radio-button-symbol-size: var(--step-1);
        }

        &.default {
          --form-input-checkbox-radio-button-symbol-size: var(--step-3);
        }

        &.medium {
          --form-input-checkbox-radio-button-symbol-size: var(--step-3);
        }

        &.large {
          --form-input-checkbox-radio-button-symbol-size: var(--step-3);
        }
      }
    }
  }
}
